<div class="search-div table">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchProfessor" placeholder="Search professor..." autocomplete="off"
        (keyup)="applyFilter(searchProfessor)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchProfessor" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="professorsList" matSort>
      <ng-container matColumnDef="professor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Professor</mat-header-cell>
        <mat-cell *matCellDef="let prof" class="mat-column-trailerLink">{{prof.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="interests">
        <mat-header-cell *matHeaderCellDef>Interests</mat-header-cell>
        <mat-cell *matCellDef="let prof">
          <div>
            <div *ngFor="let interest of prof.interests">{{interest.name}}</div>
          </div>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" title="Professor Details" (click)="openProfessorInfo(row)">
            <mat-icon>info</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!(professorsList!=null && professorsList.length==0)}">
      </mat-footer-row>
    </mat-table>
    <mat-paginator [length]="totalProfessors" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons
      (page)="onPaginateChange($event)"></mat-paginator>
  </div>