<div class="mat-elevation-z8">
    <mat-table [dataSource]="professors" matSort>
      <ng-container matColumnDef="professor">
        <mat-header-cell *matHeaderCellDef mat-column-professor mat-sort-header>Professor</mat-header-cell>
        <mat-cell *matCellDef="let prof">{{prof.academicRank}} {{prof.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="interests">
        <mat-header-cell *matHeaderCellDef mat-column-interests>Interests</mat-header-cell>
        <mat-chip-list aria-label="Interests">
          <mat-chip color="primary">Test</mat-chip>
        </mat-chip-list>
        <mat-cell *matCellDef="let prof">
          <mat-chip-list *ngFor="let interest of prof.interests">
            <mat-chip color="primary" selected>{{interest.name}}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="schedule">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>
        <mat-cell *matCellDef="let prof">{{prof.schedule}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="theses">
        <mat-header-cell *matHeaderCellDef>Theses</mat-header-cell>
        <mat-cell *matCellDef="let prof">
          <button mat-icon-button color="primary" title="Theses" (click)="openProfessorInfo(prof.id)">
            <mat-icon>insert_drive_file</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
        <mat-cell *matCellDef="let prof">
          <button mat-icon-button color="primary" title="Send Message" (click)="sendMessage(prof.id)">
            <mat-icon>chat_bubble</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalProfessors" [pageSizeOptions]="[2, 5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons
      (page)="nextPage($event)"></mat-paginator>
  </div> 
