<!-- <div *ngIf="isUserProfessor()"> -->
    <button mat-raised-button color="primary" (click)="addButton()">Add thesis</button>
<!-- </div> -->
<br><br>
<div *ngFor="let th of thesis" class="example-card">
    <mat-card class="img-wrap">
        <!-- <div *ngIf="isUserProfessor()"> -->
            <span class="close" onclick="delete(th)">&times;</span>
        <!-- </div> -->
        <mat-card-title>
            {{th.title}}
        </mat-card-title>
        <mat-card-content>
            {{th.description}}
        </mat-card-content>
        <br><br>
        <div *ngIf="th.student">
            Assigned student: {{th.student}}
        </div>
        <div>
            Assigned student: -
        </div>
        <br>
        <!-- <div *ngIf="isUserProfessor()"> -->
            <button mat-raised-button color="primary" (click)="editButton(th)">Edit thesis</button>
        <!-- </div> -->

    </mat-card>
</div>